<div class="container">
    <div class="jumbotron">
        <h2 class="display-4">About This Angular App</h2>
        <p class="lead">A basic Todo List App enables us to add, remove, and mark a task as completed.</p>
        <hr class="my-4">
        <h3>Features of Angular Todo App</h3>
        <ul>
            <li>Ability to add a new task.</li>
            <li>Ability to delete a task.</li>
            <li>Ability to mark a task as "completed".</li>
        </ul>
        <a class="btn btn-primary btn-lg" routerLink="/" role="button">Learn more</a>
    </div>

</div>